In [9]:
import pandas as pd
import numpy as np

df = pd.read_csv('Marketing.csv')

df

,id,c_date,campaign_name,category,campaign_id,impressions,mark_spent,clicks,leads,orders,revenue
0,1,2021-02-01,facebook_tier1,social,349043,148263,7307.37,1210,13,1,4981.0
1,2,2021-02-01,facebOOK_tier2,social,348934,220688,16300.20,1640,48,3,14962.0
2,3,2021-02-01,google_hot,search,89459845,22850,5221.60,457,9,1,7981.0
3,4,2021-02-01,google_wide,search,127823,147038,6037.00,1196,24,1,2114.0
4,5,2021-02-01,youtube_blogger,influencer,10934,225800,29962.20,2258,49,10,84490.0
...,...,...,...,...,...,...,...,...,...,...,...
303,304,2021-02-28,instagram_tier2,social,983498,775780,760.75,1024,4,0,0.0
304,305,2021-02-28,facebook_retargeting,social,4387490,1933,224.81,58,0,0,0.0
305,306,2021-02-28,facebook_lal,social,544756,25840,6844.80,248,5,1,1491.0
306,307,2021-02-28,instagram_blogger,influencer,374754,94058,4845.65,594,12,1,5008.0
307,308,2021-02-28,banner_partner,media,39889,8490000,6822.62,849,18,2,7030.0

In [10]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 308 entries, 0 to 307
Data columns (total 11 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   id             308 non-null    int64
 1   c_date         308 non-null    object
 2   campaign_name  308 non-null    object
 3   category       308 non-null    object
 4   campaign_id    308 non-null    int64
 5   impressions    308 non-null    int64
 6   mark_spent     308 non-null    float64
 7   clicks         308 non-null    int64
 8   leads          308 non-null    int64
 9   orders         308 non-null    int64
 10  revenue        308 non-null    float64
dtypes: float64(2), int64(6), object(3)
memory usage: 26.6+ KB

In [11]:
df.isnull().sum()

id               0
c_date           0
campaign_name    0
category         0
campaign_id      0
impressions      0
mark_spent       0
clicks           0
leads            0
orders           0
revenue          0
dtype: int64

In [12]:
df.duplicated().sum()

np.int64(0)

In [13]:
df.columns = df.columns.str.replace('_', ' ').str.title()
df = df.rename(columns={'Mark Spent': 'Cost'})
df = df.rename(columns={'C Date': 'Date'})

df

,Id,Date,Campaign Name,Category,Campaign Id,Impressions,Cost,Clicks,Leads,Orders,Revenue
0,1,2021-02-01,facebook_tier1,social,349043,148263,7307.37,1210,13,1,4981.0
1,2,2021-02-01,facebOOK_tier2,social,348934,220688,16300.20,1640,48,3,14962.0
2,3,2021-02-01,google_hot,search,89459845,22850,5221.60,457,9,1,7981.0
3,4,2021-02-01,google_wide,search,127823,147038,6037.00,1196,24,1,2114.0
4,5,2021-02-01,youtube_blogger,influencer,10934,225800,29962.20,2258,49,10,84490.0
...,...,...,...,...,...,...,...,...,...,...,...
303,304,2021-02-28,instagram_tier2,social,983498,775780,760.75,1024,4,0,0.0
304,305,2021-02-28,facebook_retargeting,social,4387490,1933,224.81,58,0,0,0.0
305,306,2021-02-28,facebook_lal,social,544756,25840,6844.80,248,5,1,1491.0
306,307,2021-02-28,instagram_blogger,influencer,374754,94058,4845.65,594,12,1,5008.0
307,308,2021-02-28,banner_partner,media,39889,8490000,6822.62,849,18,2,7030.0

In [14]:
df['ROI'] = ((df['Revenue'] - df['Cost']) / df['Cost']) * 100
df['ROI'] = df['ROI'].map('{:.2f}%'.format)

df['CPL'] = (df['Cost'] / df['Leads'])
df['CPL'] = df['CPL'].round(2)

df.head()

,Id,Date,Campaign Name,Category,Campaign Id,Impressions,Cost,Clicks,Leads,Orders,Revenue,ROI,CPL
0,1,2021-02-01,facebook_tier1,social,349043,148263,7307.37,1210,13,1,4981.0,-31.84%,562.11
1,2,2021-02-01,facebOOK_tier2,social,348934,220688,16300.20,1640,48,3,14962.0,-8.21%,339.59
2,3,2021-02-01,google_hot,search,89459845,22850,5221.60,457,9,1,7981.0,52.85%,580.18
3,4,2021-02-01,google_wide,search,127823,147038,6037.00,1196,24,1,2114.0,-64.98%,251.54
4,5,2021-02-01,youtube_blogger,influencer,10934,225800,29962.20,2258,49,10,84490.0,181.99%,611.47

In [15]:
df['CPC'] = (df['Cost'] / df['Clicks'])
df['CPC'] = df['CPC'].map('{:.2f}'.format)

df['Lead Conversion Rate'] = ((df['Leads'] / df['Clicks']) * 100)
df['Lead Conversion Rate'] = df['Lead Conversion Rate'].map('{:.2f}%'.format)

df['CTR'] = ((df['Clicks'] / df['Impressions']) * 100)
df['CTR'] = df['CTR'].map('{:.2f}%'.format)

df.head()

,Id,Date,Campaign Name,Category,Campaign Id,Impressions,Cost,Clicks,Leads,Orders,Revenue,ROI,CPL,CPC,Lead Conversion Rate,CTR
0,1,2021-02-01,facebook_tier1,social,349043,148263,7307.37,1210,13,1,4981.0,-31.84%,562.11,6.04,1.07%,0.82%
1,2,2021-02-01,facebOOK_tier2,social,348934,220688,16300.20,1640,48,3,14962.0,-8.21%,339.59,9.94,2.93%,0.74%
2,3,2021-02-01,google_hot,search,89459845,22850,5221.60,457,9,1,7981.0,52.85%,580.18,11.43,1.97%,2.00%
3,4,2021-02-01,google_wide,search,127823,147038,6037.00,1196,24,1,2114.0,-64.98%,251.54,5.05,2.01%,0.81%
4,5,2021-02-01,youtube_blogger,influencer,10934,225800,29962.20,2258,49,10,84490.0,181.99%,611.47,13.27,2.17%,1.00%

In [16]:
df.to_csv('Marketing_modified.csv', index=False)